[submodule "java/java-design-patterns"]
	path = java/java-design-patterns
	url = https://github.com/iluwatar/java-design-patterns
[submodule "java/paascloud-master"]
	path = java/paascloud-master
	url = https://github.com/paascloud/paascloud-master
[submodule "java/spring-boot"]
	path = java/spring-boot
	url = https://github.com/spring-projects/spring-boot
[submodule "java/paascloud-config-repo"]
	path = java/paascloud-config-repo
	url = https://github.com/paascloud/paascloud-config-repo
[submodule "java/SpringcloudConfig"]
	path = java/SpringcloudConfig
	url = https://github.com/forezp/SpringcloudConfig.git
[submodule "java/p3c"]
	path = java/p3c
	url = https://github.com/alibaba/p3c
[submodule "java/spring-framework"]
	path = java/spring-framework
	url = https://github.com/spring-projects/spring-framework
